.layout {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.total-price {
  text-align: right;
  margin-right: 50px;
  margin-bottom: 20px;
  margin-top: 1rem;
  font-size: 20px;
}

.orderBtn {
  width: 200px;
  background: orangered;
  border: none;
  cursor: pointer;
  color: white;
}
.orderBtn:hover {
  background: green;
}
